Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<% classroom.students.each do |this_student| %>
    <%= render partial: 'students/student', locals: { student: this_student} %>
<% end %>