Classroom Info
<%= render partial: "classroom", locals: {classroom: @classroom} %>


<h3>Students</h3>

<ul>
  <% @students.each do |s| %>
<%= render partial: "students/student", locals: {student: s} %>
<% end %>
</ul>