Classroom Info
<%= render 'classroom' %>

<p>Students:</p>
We now want to call out the oldest student in the class:
<%= @classroom.students.each do |display_student| %>
  <%= render partial: 'students/student', locals: {student: display_student} %>
<% end %>
