Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out all students in the class:
<% @classroom.students.each do |std| %>
<%= render partial: 'students/student', locals: {student: std} %>
<% end %>
