Classroom Info
<%= render "classroom", classroom: @classroom %>


Students
<ul>
  <% @classroom.students.each do |student| %>
    <li><%= render partial: 'students/student', locals: {class_student: student} %></li>
  <% end %>
</ul>
