<h1>Classroom Info</h1>

<%= render partial: "classroom", locals: {classroom: @classroom} %>

<h2>All Students in this class</h2>

<% @classroom.students.each do |one_student| %>
<%= render partial: "students/student", locals: {student: one_student} %>
<% end %>