Classroom Info
<p>
<%= render partial: "classroom", locals: {classroom: @classroom} %>
</p>

List of students:

<% Student.all.each do |student| %>
<%# <% @classroom.students do |student| %> %>
<%= render partial: 'students/student', locals: {student: student} %>
<%#student: in hash matches student in _student %>
<% end %>
