<h1>Classroom Info</h1>

<%= render partial: 'classroom', locals: {classroom: @classroom}%>

<h3>Students</h3>
  <%@classroom.students.each do |student| %>
    <p><%= render partial: 'students/student', locals: {student: student}%></p>
  <%end%>
