<h1>Classroom Info</h1>
<%= render :partial => 'classrooms/classroom', locals: {classroom: @classroom} %>

<h3>Student roll call:</h3>
<% @classroom.students.each do |student| %>
  <%= render :partial => 'students/student', locals: {student: student} %>
<% end %>