<h1>Classroom Info</h1>

<%= render partial: "classroom", locals: {classroom: @classroom} %>

<% @classroom.students.each { |student| %>
    <%= render partial: "students/student", locals: {student: student} %>
<% } %>