Classroom Info

<%= render 'classroom', classroom: @classroom %>

Every Student in the class:
<ul>
  <% @classroom.students.each do |student| %>
  <li>
<%= render 'students/student', student: student %>
</li>

<% end %>
</ul>
