Classroom Info
<p>
<%= render partial: "classrooms", locals: {classroom: @classroom} %>


  <%= render partial: "students/student", locals: {student: student} %>
<% end %>


  expect(rendered).to include(student.name)
</p>
