Classroom Info
<%= render partial: "classroom", locals: { classroom: @classroom } %>

<h4>Students</h4>
<% @classroom.students.each do |this_student| %> 
    <%= render partial: "students/student", locals: { student: this_student } %>
<% end %>
