Classroom Info
<%= render 'classroom' %>

<p>Students:</p>
<% @classroom.students.each do |student_to_display| %>
  <%= render partial: 'students/student', locals: {student: student_to_display} %>
<% end %>
