Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<%@classroom.students.each do |student|%>
<%= render partial: 'student', locals: {student: student} %>
<%end%>


We now want to call out the oldest student in the class:
<%= render partial: 'classroom', locals: {classroom: @classroom, students: @students} %>