Classroom Info
<p>
<%= render partial: 'classrooms/classroom', locals: {classroom: @classroom} %>
</p>

Students In This Class:

<p>

  <% @classroom.students.each do |student| %>
    <%= render partial: 'students/student', locals: {student: student} %>
  <%end%>

</p>
