Classroom Info
<%= render 'classroom', classroom: @classroom %>

Here's all the students in this class;
<ul>
  <% @classroom.students.each do |student| %>
    <li>
      <%= render 'students/student', student: student %>
    </li>
  <% end %>
</ul>
