<h1>Classroom Info</h1>
<%= render partial: 'classroom' %>

<p>We now want to call out the student in the class:</p>

<% @classroom.students.each do |student| %>
<%= render partial: "students/student", locals: {student: student} %>
<% end %>
