Classroom Info
<p>
<%= render partial: "classroom", locals: {classroom: @classroom} %>
</p>

Here's a list of all the students in this class:

<% @classroom.students.each do |student| %>
	<%= render partial: "students/student", locals: {student: student} %>
<% end %>

