Classroom Info
<%= render partial: "classroom", locals: {classroom: @classroom} %>

<h3> Students </h3>

<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
