<h1>Classroom Info</h1>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

<h3>We now want to call out all the students in the class:</h3>
<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>
