Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the oldest student in the class:
<%= @classroom.all.each do |s| %>
  <ul>
    <li><%= render partial: 'students/student', locals: {student: @student} %></li>
  </ul>
<% end %>
