Classroom Info
<%= render partial: "classroom", locals: {classroom: @classroom}  %>
<%= @classroom.course_name %>

We now want to call out the oldest student in the class:
<h3>Students</h3>
<% @classroom.students.each do | student | %>
  <%= render partial: "students/student", locals: {student: student}  %>
<% end %>
