Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the oldest student in the class:
<%= render partial: 'students/student', locals: { student: @classroom.oldest_student } %>
<%= render partial: 'classroom', locals: { classroom: @classroom} %>

<!-- I need to use the join table to call the student from the classroom -->
<!-- Nope, the above is wrong. I need to use the oldest student method from the classroom model -->
