Classroom Info
<%= render partial: "classroom", locals:{classroom:@classroom} %>

<ol>
<% @classroom.students.each do |student| %>
<li><br><%= render partial: "students/student", locals:{student:student} %><br></li>
<% end %>
