<h2>Classroom Info</h2>
<%= render partial: "classroom", locals: {classroom: @classroom} %>

<h3>All Students:</h3>
<% @classroom.students.each do |student| %>
  <%= render partial: "students/student", locals: {student: student} %>
<% end %>
