Classroom Info
<p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
</p>

We now want to call out the oldest student in the class:
<ul>
    <% Student.all.each do |student| %>
    <li>
        <ul>
        <%= render partial: 'students/student', locals: {student: student} %>
        </ul>
    </li>
    <% end %>
</ul>
