<%= render partial: 'classroom', locals: {classroom: @classroom}%>
<h3>Students:</h3>
<ul>
<% @classroom.students.each do |student| %>
  <li><%= render partial: 'students/student', locals: {student: student}%></li>
<% end %>
</ul>
