<ul>
  <li>
    <p>Name: <%= student.name %></p>
  </li>
  <li>
    <p>Birthday: <%= student.birthday.strftime("%m/%d/%Y") %></p>
  </li>
  <li>
    <p>Hometown: <%= student.hometown.capitalize %></p>
  </li>
</ul>
