<ul>
  <li>
    Name: <%= student_object.name %>
  </li>
  <li>
    Birthday: <%= student_object.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student_object.hometown.capitalize %>
  </li>
</ul>
