<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



<ul>
  <li>
    Name: <%= student.name %>
  </li>
  <li>
    Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student.hometown.capitalize %>
  </li>
</ul>

</body>
</html>
