<!-- We don't iterate through all @students here because we want LOCAL VARIABLES HERE. NOT INSTANCE VARIABLES. -->
<ul>
  <li>
    Name: <%= student.name %>
  </li>
  <li>
    Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student.hometown.capitalize %>
  </li>
</ul>
