
<% # binding.pry %>

<% student.each do |stdnt| %>
  <ul>
    <li>
      Name: <%= stdnt.name %>
    </li>
    <li>
      Birthday: <%= stdnt.birthday.strftime("%m/%d/%Y")  %>
    </li>
    <li>
      Hometown: <%= stdnt.hometown.capitalize %>
    </li>
  </ul>
<% end %>





