<% students.each do |s| %>

<ul>
  <li>
    Name: <%= s.name %>
  </li>
  <li>
    Birthday: <%= s.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= s.hometown.capitalize %>
  </li>
</ul>

<% end %>
