<ul>
  <li>
    Name: <%= student.name %>
  </li>
  <li>
    <% if student.birthday %>
      Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
    <% end %>
  </li>
  <li>
    <% if student.hometown %>
      Hometown: <%= student.hometown.capitalize %>
    <% end %>
  </li>
</ul>


