<ul>
  <li>
  <!-- the 'raw' parses apostrophes correctly  -->
    Name: <%=raw student.name %>
  </li>
  <li>
    Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student.hometown.capitalize %>
  </li>
</ul>
