<ul>
  <li>
    Name: <%= arbitrary_var_student.name %>
  </li>
  <li>
    Birthday: <%= arbitrary_var_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= arbitrary_var_student.hometown.capitalize %>
  </li>
</ul>
