<%# Found Youtube: https://www.youtube.com/watch?v=jKSm8kOWd_0 %>
<%# Creating search %>

<%= form_tag(students_path, method: "get") do %>
  Students <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<h2>Search Results</h2>
<% @students.each do |student| %>
<%# binding.pry %>
<%= render partial: "student", locals: {student: student} %>
<%# render partial: "student", locals: {student: @student} %>
<% end %>
