<form action="/index" method="get">
    <input type="text" name="search_name" id="search_name"><br/>
    <input type="submit">
</form>

<% @students.each do |student|%>
    <%= render partial: 'student', locals: {student: student} %>
<% end %>