
<h1>Students</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% for student in @students %>
        <%= render partial: 'student', locals: {student: student} %>
      <% end %>
     </tr>
  </tbody>
</table>


<%= form_tag(students_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
