<h1>Students</h1>
<%= form_tag('/students', method: :get) do %>
  <label> Search for a student: </label>
  <%= text_field_tag :'search' %>
  <%= submit_tag 'Search' %>
<%end%>

<% @students.each do |student|%>
  <%= render partial: "student", locals: {student: student} %>
<% end %>