<h1>Student Info</h1>

<%= render partial: 'student', locals: {student: @student} %>
<!-- Here in {student: @student}, the first 'student:' refers to the 'student' used in the partial '_student', and the '@student'
refers to the '@student' variable from the controller -->
