<h1>Student Info</h1>

<%= render partial: 'student', locals: { student: @student } %>
<%#<%= render partial: "account", locals: { account: @buyer } %>
<%#This would first render “advertiser/_account.html.erb” with @buyer passed in as the local variable account, %>
<%#http://api.rubyonrails.org/v5.1/classes/ActionView/PartialRenderer.html%>
