<h1>Student Info</h1>

<!-- <%= @student.classrooms.each do |classroom| %>
  <%= render 'classrooms/classroom', locals: {classroom: classroom} %>
<% end %> -->
<%= render partial: 'student', locals: {student: @student} %>
